<div id="<%= dom_id student %>">
  <div>
    <strong>Name:</strong>
    <%= student.name %>
    <br>
    <strong>Age:</strong>
    <%= student.age %>
    <br>
    <strong>Email:</strong>
    <%= student.email %>
  </div>
</div>
