<% content_for :title, "Courses" %>
<h2>Courses</h2>

<% if notice %>
<p class="notice"><%= notice %></p>
<% end %>
<br>
<div class="courses-grid">
    <% @courses.each do |course| %>
        <%= render course %>
        <br>
    <% end %>
</div>

<%= link_to 'New Course', new_course_path, class: 'btn' %>